.pickletext {
  width: 919px;
  height: 267px;
  left: 450px;
  top: 25px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 75px;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 280px;
  word-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
}

.greenBubble {
  width: 70%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #B5FF81;
  border-radius: 60px;
  font-size: 75px;
  font-family: Epilogue;
  font-weight: 600;
  padding: 2%;
}

.homePageImage {
  max-width: 70%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 2%;
  border: 5px solid black;
  border-radius: 60px;
}


.buttonContainer {
  text-align: center;
}

.button1 {
  width: 70%;
  padding: 2%;
  height: auto;
  margin-top: 2%;
  text-align: center;
  color: white;
  background: black;
  font-size: 40px;
  font-family: Epilogue;
  font-weight: 600;
  border-radius: 30px;
}

.button2 {
  width: 70%;
  height: auto;
  padding: 2%;
  margin-top: 2%;
  text-align: center;
  color: black;
  background: #B5FF81;
  font-size: 40px;
  font-family: Epilogue;
  font-weight: 600;
  border-radius: 30px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  position: relative;
  border-radius: 5px;
}
.dropdown .options {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.dropdown .options.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown .toggle,
.dropdown .options button {
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  transition: background-color 0.05s ease;
  cursor: pointer;
  border-radius: 60px;
}

.dropdown .toggle{
  background-color: #B5FF81;
}

.dropdown .options button {
  border-top: 0;
}

.dropdown .options button.selected {
  cursor: default;
}

.dropdown .options button:hover {
  background-color: #ddd;
  background-color: #B5FF81;
}

.dropdown .toggle:hover {
  background-color: #ccc;
}


@media screen and (min-width: 800px) {
  .infoSpace {
    width: 40%;
    float: left;
  }
  .imageSpace {
    width: 60%;
    float: right;
  }
}

@media screen and (max-width: 800px) {
  .infoSpace {
    width: 100%;
    float: left;
  }
  .imageSpace {
    width: 100%;
    float: right;
  }
}

.courtImage {
  width: 90%;
  height: 90%;
  float:right;
  padding: 5%;
}

.green {
  background-color: #B5FF81;
}

.fiftyWidth{
  width: 50%;
}

.myLabel {
  color: black;
  font-size: 32px;
  font-family: Epilogue;
  font-weight: 600;
  padding-top: 3%;
  padding-bottom: 2%;
}

.pageButton{
  width: 45%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #B5FF81;
  border-radius: 60px;
  font-size: 32px;
  font-family: Epilogue;
  font-weight: 600;
  padding: 2%;
  margin: 2%;
  margin-bottom: 10%;
}

.homeButton{
  width: 45%;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #DDD;
  border-radius: 60px;
  font-size: 32px;
  font-family: Epilogue;
  font-weight: 600;
  padding: 2%;
  margin: 2%;
  margin-bottom: 10%;
}

.flexColumn {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.myResult {
  color: green;
  font-size: 28px;
  font-family: Epilogue;
  font-weight: 600;
}