.pickletext {
  width: 919px;
  height: 267px;
  left: 450px;
  top: 25px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 150px;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 280px;
  word-wrap: break-word;
}

.greenbubble {
  width: 919px;
  height: 267px;
  left: 450px;
  top: 25px;
  position: absolute;
  background: #B5FF81;
  border-radius: 60px;
}

.button1 {
  color: white;
  background: black;
  font-size: 64px;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 150px;
  word-wrap: break-word;
}

.button2 {
  color: black;
  background: #B5FF81;
  font-size: 64px;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 150px;
  word-wrap: break-word;
}